html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Druk XCond Web';
  src: url("fonts/druk-x-condensed/DrukXCond-Super-Web.eot");
  src: url("fonts/druk-x-condensed/DrukXCond-Super-Web.eot?#iefix") format("embedded-opentype"), url("fonts/druk-x-condensed/DrukXCond-Super-Web.woff2") format("woff2"), url("fonts/druk-x-condensed/DrukXCond-Super-Web.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'riviera_web';
  src: url("fonts/riviera/Riviera-Web.eot");
  src: url("fonts/riviera/Riviera-Web.eot?#iefix") format("embedded-opentype"), url("fonts/riviera/Riviera-Web.woff") format("woff"), url("fonts/riviera/Riviera-Web.ttf") format("truetype"), url("fonts/riviera/Riviera-Web.svg#Font") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

html, body {
  background-color: #fff;
  color: #111;
  font-family: "Druk XCond Web", sans-serif;
  text-align: left;
  cursor: none;
  -webkit-font-smoothing: antialiased; }

a {
  cursor: none;
  text-decoration: none; }

::-webkit-scrollbar {
  display: none; }

::-moz-selection {
  background: #333; }

::selection {
  background: #333; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#loadingMessage {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 15px;
  line-height: 20px;
  font-family: "courier", monospace;
  transition: 0.4s; }

#locations {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 160px; }
  #locations a {
    text-decoration: none;
    color: #111;
    opacity: 0;
    animation: fadeIn 300ms;
    -webkit-animation: fadeIn 300ms;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    padding-bottom: 10px;
    /* Prevent descenders from being clipped in Chrome */ }
  #locations a:hover {
    color: #333; }
  #locations a:hover img {
    opacity: 1; }
  #locations a:hover .date {
    background-color: rgba(51, 51, 51, 0.8);
    opacity: 1; }
  #locations a:after {
    display: inline;
    content: ', '; }
  #locations a:last-child:after {
    display: inline;
    content: '.'; }
  #locations img {
    height: 120px;
    width: auto; }

.accessories {
  width: 180px;
  height: 120px;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px; }

.date {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 120px;
  background-color: rgba(51, 51, 51, 0);
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-family: "courier", monospace;
  text-transform: uppercase;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0; }

footer#credits {
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 30px;
  opacity: 0;
  transition: all 0.3s; }

p.captionText {
  font-size: 15px;
  line-height: 20px;
  font-family: "courier", monospace;
  margin-bottom: 10px; }
  p.captionText a {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #333; }

#transitionElement {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: -100%;
  background-color: #fff;
  z-index: 90; }
  #transitionElement img {
    height: 100vh;
    width: 100vw; }
  #transitionElement img.flag {
    display: block; }
  #transitionElement img.mobileFlag {
    display: none; }

#transitionElement.show {
  top: 0;
  bottom: 0;
  transition: top 0.4s, bottom 0.4s; }

#transitionElement.up {
  top: -100%;
  bottom: 100%;
  transition: top 0.4s, bottom 0.4s; }

#cursor {
  width: 20px;
  height: 20px;
  position: fixed;
  pointer-events: none;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 100; }
  #cursor svg {
    width: 20px;
    height: 20px; }

#stage {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  z-index: 80;
  background: #111; }

#stage.active {
  top: 0;
  bottom: 0;
  transition: top 0.4s, bottom 0.4s; }

#stage.leave {
  top: -100%;
  bottom: 100%;
  transition: top 0.4s, bottom 0.4s; }

#closeLocation {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 80; }
  #closeLocation :hover {
    opacity: .5; }

#locationContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  overflow: auto;
  padding-bottom: 40px; }
  #locationContent div.landscape {
    width: 765px;
    height: 510px;
    display: block;
    margin: auto;
    margin-bottom: 80px;
    clear: both;
    background-color: #333;
    background-image: url("img/ui/bg-dot.gif");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center; }
  #locationContent div.portrait {
    width: 585px;
    height: 780px;
    margin: auto;
    margin-bottom: 80px;
    display: block;
    background-color: #333;
    background-image: url("img/ui/bg-dot.gif");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center; }
  #locationContent div.fullScreen {
    width: 100vw;
    height: 66.66vw;
    margin: auto;
    margin-bottom: 80px;
    display: block;
    background-color: #333;
    background-image: url("img/ui/bg-dot.gif");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center; }
  #locationContent img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s; }

#locationTitle {
  font-size: 160px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px; }

#locationDate {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  width: 200px;
  height: 40px;
  font-family: "courier", monospace; }

.captionParagraph {
  color: #bbb;
  font-family: "courier", monospace;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: auto;
  width: 765px;
  margin-bottom: 15px;
  margin-top: -25px; }
  .captionParagraph span {
    padding-bottom: 2px;
    border-bottom: 1px solid #bbb; }

.contentParagraph {
  color: #fff;
  margin: auto;
  margin-bottom: 60px;
  width: 765px;
  font-family: "riviera_web", sans-serif;
  font-size: 25px;
  line-height: 35px;
  text-align: center; }

.contentParagraph + .contentParagraph {
  margin-top: -30px; }

#droppedDots {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.droppedDot {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute; }

/* Next and Previous Links */
a.navLink {
  display: block;
  height: 120px;
  line-height: 120px; }

.navLinkWrapper {
  height: 120px;
  width: auto;
  position: absolute;
  top: 50%;
  margin-top: -65px;
  color: #fff;
  font-family: "courier", monospace;
  transition: all 0.3s;
  padding: 10px; }
  .navLinkWrapper img {
    height: 120px;
    width: auto;
    display: inline-block; }

.navLinkWrapper.beforeWrapper {
  right: 10px;
  transform: translate(calc(100% - 35px));
  padding-right: 0; }

.navLinkWrapper.afterWrapper {
  left: 10px;
  transform: translate(calc(-100% + 35px));
  padding-left: 0; }

.navLinkWrapper:hover {
  transform: none; }

img.beforeLabel,
img.afterLabel {
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 120px;
  vertical-align: top;
  margin-top: 50px;
  transition: opacity 0.3s; }

img.beforeLabel {
  margin-right: 5px; }

img.afterLabel {
  margin-left: 5px; }

.navLinkWrapper:hover img.beforeLabel,
.navLinkWrapper:hover img.afterLabel {
  opacity: 0; }

span.beforeTitle,
span.afterTitle {
  font-size: 160px;
  text-decoration: none;
  font-family: "Druk XCond Web", sans-serif;
  line-height: 120px;
  height: 120px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block; }

/* Map */
#mapHolder {
  position: fixed;
  z-index: 30;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 1px solid #111;
  box-sizing: border-box;
  transform: translateY(calc(100% + 100px));
  transition: transform 0.4s; }

#mapHolder.visible {
  transform: translateY(0); }

#map {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#closeMap {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  z-index: 10;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); }

.closeMapImage {
  width: 10px;
  height: 10px;
  margin-left: 9px;
  margin-top: 9px; }

#map div div div:nth-child(2) a {
  display: none !important; }

#map div {
  cursor: none !important; }

.gm-style div:nth-child(4) .gm-style-cc {
  display: none; }

.gmnoprint.gm-style-cc {
  display: none !important; }

.gm-style-cc {
  display: none !important; }

@media (max-width: 800px), (max-device-width: 800px) {
  #locations {
    font-size: 75px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 70px; }
    #locations img {
      height: 40px;
      width: auto; }
  .accessories {
    height: 40px;
    width: 60px;
    margin-right: 3px;
    margin-left: 3px; }
  .date {
    display: none; }
  p.captionText {
    font-size: 12px;
    line-height: 17px; }
  footer#credits {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0; }
  #cursor {
    opacity: 0; }
  /* Individual Locations */
  #locationTitle {
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased; }
  #locationDate {
    font-size: 12px;
    line-height: 17px;
    width: auto;
    left: 50px;
    right: 50px;
    text-align: center;
    height: 20px;
    top: auto;
    bottom: 5px; }
  #closeLocation {
    width: 25px;
    height: 25px; }
  .navLinkWrapper {
    display: none; }
  #transitionElement img.flag {
    display: none; }
  #transitionElement img.mobileFlag {
    display: block; }
  #locationContent .captionParagraph {
    font-size: 12px;
    width: calc(100% - 20px);
    margin-top: 20px; }
  #locationContent .contentParagraph {
    font-size: 20px;
    line-height: 30px;
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 30px; }
  #locationContent div.portrait {
    width: calc(100vw - 20px);
    height: calc((100vw - 20px) / 3 * 4);
    margin-bottom: 10px; }
  #locationContent div.landscape,
  #locationContent div.fullScreen {
    width: calc(100vw - 20px);
    height: calc((100vw - 20px) / 3 * 2);
    margin-bottom: 10px; }
  /* Map */
  #mapHolder {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none; } }
