@font-face {
	font-family:'druk-x-condensed';
	src:url('fonts/druk-x-condensed/druk-x-condensed.eot?#iefix') format('embedded-opentype'),
		url('fonts/druk-x-condensed/druk-x-condensed.otf') format('opentype'),
		url('fonts/druk-x-condensed/druk-x-condensed.woff') format('woff'),
		url('fonts/druk-x-condensed/druk-x-condensed.ttf') format('truetype'),
		url('fonts/druk-x-condensed/druk-x-condensed.svg#DrukXCond-Super') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'riviera_web';
	src:url('fonts/riviera/Riviera-Web.eot');
	src:url('fonts/riviera/Riviera-Web.eot?#iefix') format('embedded-opentype'),
		url('fonts/riviera/Riviera-Web.woff') format('woff'),
		url('fonts/riviera/Riviera-Web.ttf') format('truetype'),
		url('fonts/riviera/Riviera-Web.svg#Font') format('svg');
	font-weight:400;
	font-style:normal;
	font-stretch:normal;
}