@font-face {
	font-family:'Druk XCond Web';
	src:url('fonts/druk-x-condensed/DrukXCond-Super-Web.eot');
	src:url('fonts/druk-x-condensed/DrukXCond-Super-Web.eot?#iefix') format('embedded-opentype'),
		url('fonts/druk-x-condensed/DrukXCond-Super-Web.woff2') format('woff2'),
		url('fonts/druk-x-condensed/DrukXCond-Super-Web.woff') format('woff');
	font-weight:900;
	font-style:normal;
	font-stretch:normal;
}

@font-face {
	font-family:'riviera_web';
	src:url('fonts/riviera/Riviera-Web.eot');
	src:url('fonts/riviera/Riviera-Web.eot?#iefix') format('embedded-opentype'),
		url('fonts/riviera/Riviera-Web.woff') format('woff'),
		url('fonts/riviera/Riviera-Web.ttf') format('truetype'),
		url('fonts/riviera/Riviera-Web.svg#Font') format('svg');
	font-weight:400;
	font-style:normal;
	font-stretch:normal;
}