@media (max-width: 800px), (max-device-width: 800px) {

	#locations {
		font-size:75px;
		margin-left:5px;
		margin-right:5px;
		line-height:70px;

		img {
			height:40px;
			width:auto;
		}
	}

	.accessories {
		height:40px;
		width:60px;
		margin-right:3px;
		margin-left:3px;
	}

	.date {
		display:none;
	}

	p.captionText {
		font-size:12px;
		line-height:17px;
	}

	footer#credits {
		margin-top:15px;
		margin-left:10px;
		margin-right:10px;
		margin-bottom:0;
	}

	#cursor {
		opacity:0;
	}

	/* Individual Locations */

	#locationTitle {
		font-size:75px;
		margin-top:10px;
		margin-bottom:10px;
		-webkit-font-smoothing:antialiased;
	}

	#locationDate {
		font-size:12px;
		line-height:17px;
		width:auto;
		left:50px;
		right:50px;
		text-align:center;
		height:20px;
		top:auto;
		bottom:5px;
	}

	#closeLocation {
		width:25px;
		height:25px;
	}

	.navLinkWrapper {
		display:none;
	}

	#transitionElement img.flag {
		display:none;
	}

	#transitionElement img.mobileFlag {
		display:block;
	}

	#locationContent {

		.captionParagraph {
			font-size:12px;
			width:calc(100% - 20px);
			margin-top:20px;
		}

		.contentParagraph {
			font-size:20px;
			line-height:30px;
			width:calc(100% - 20px);
			margin-top:10px;
			margin-bottom:30px;
		}

		div.portrait {
			width:calc(100vw - 20px);
			height:calc((100vw - 20px) / 3 * 4);
			margin-bottom:10px;
		}

		div.landscape,
		div.fullScreen {
			width:calc(100vw - 20px);
			height:calc((100vw - 20px) / 3 * 2);
			margin-bottom:10px;
		}

	}

	/* Map */

	#mapHolder {
		top:0;
		left:0;
		right:0;
		bottom:0;
		border:none;
	}

}

@media (max-width: 800px) and (orientation: landscape), (max-device-width: 800px) and (orientation: landscape) {

}