@import 'reset';
@import 'fonts';

$black: #111;
$lightBlack: #333;
$white: #fff;
$monospace: 'courier', monospace;
$riviera: 'riviera_web', sans-serif;
$transitionSpeed: .4s;
$fastTransition: .3s;
$druk:'druk-x-condensed', sans-serif;

$contentWidthLandscape: 765px;
$contentWidthPortrait: 585px;

html, body {
	background-color:$white;
	color:$black;
	font-family:$druk;
	text-align:left;
	cursor:none;
	-webkit-font-smoothing:antialiased;
}

a {
	cursor:none;
	text-decoration:none;
}

::-webkit-scrollbar {
	display:none; 
}

@keyframes fadeIn {
	0%		{opacity:0};
	100%	{opacity:1};
}

@-webkit-keyframes fadeIn {
	0%		{opacity:0};
	100%	{opacity:1};
}

#locations {
	
	margin-left:10px;
	margin-right:10px;
	font-size:160px;

	a {
		text-decoration:none;
		color:$black;
		opacity:0;
		animation:fadeIn 300ms;
		-webkit-animation:fadeIn 300ms;
		animation-fill-mode:forwards;
		-webkit-animation-fill-mode:forwards;
	}

	a:hover {
		color:$lightBlack;
	}

	a:hover img {
		opacity:1;
	}

	a:hover .date {
		background-color:rgba(51,51,51,.8);
		opacity:1;
	}

	a:after {
		display:inline;
		content:', ';
	}

	a:last-child:after {
		display:inline;
		content:'.';
	}

	img {
		height:120px;
		width:auto;
	}

}

.accessories {
	width:180px;
	height:120px;
	position:relative;
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
}

.date {
	position:absolute;
	top:0;
	left:0;
	width:180px;
	height:120px;
	background-color:rgba(51,51,51,.0);
	color:$white;
	font-size:15px;
	line-height:20px;
	font-family:$monospace;
	text-transform:uppercase;
	padding:10px;
	box-sizing:border-box;
	opacity:0;
}

footer#credits {
	margin-top:40px;
	margin-left:15px;
	margin-bottom:30px;
	opacity:0;
	transition:all $fastTransition;
}

p.captionText {
	font-size:15px;
	line-height:20px;
	font-family:$monospace;
	margin-bottom:10px;

	a {
		text-decoration:none;
		color:$lightBlack;
		border-bottom:1px solid $lightBlack;
	}

}

#transitionElement {
	width:100vw;
	height:100vh;
	position:fixed;
	top:100%;
	left:0;
	right:0;
	bottom:-100%;
	background-color:$white;
	z-index:90;

	img {
		height:100vh;
		width:100vw;
	}

	img.flag {
		display:block;
	}

	img.mobileFlag {
		display:none;
	}

}

#transitionElement.show {
	top:0;
	bottom:0;
	transition:top $transitionSpeed, bottom $transitionSpeed;
}

#transitionElement.up {
	top:-100%;
	bottom:100%;
	transition:top $transitionSpeed, bottom $transitionSpeed;
}

#cursor {
	width:20px;
	height:20px;
	position:fixed;
	pointer-events:none;
	margin-left:-10px;
	margin-top:-10px;
	z-index:100;

	svg {
		width:20px;
		height:20px;
	}

}

#stage {
	position:fixed;
	top:100%;
	left:0;
	right:0;
	bottom:-100%;
	width:100%;
	height:100%;
	z-index:80;
	background:$black;
}

#stage.active {
	top:0;
	bottom:0;
	transition:top $transitionSpeed, bottom $transitionSpeed;
}

#stage.leave {
	top:-100%;
	bottom:100%;
	transition:top $transitionSpeed, bottom $transitionSpeed;
}

#closeLocation {
	width:30px;
	height:30px;
	position:absolute;
	top:10px;
	right:10px;
	z-index:80;

	:hover {
		opacity:.5;
	}

}

#locationContent {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	margin:auto;
	overflow:auto;
	padding-bottom:40px;

	div.landscape {
		width:$contentWidthLandscape;
		height:$contentWidthLandscape / 3 * 2;
		display:block;
		margin:auto;
		margin-bottom:80px;
		clear:both;
		background-image:url('img/ui/bg-3x2.gif');
		background-size:100% 100%;
	}

	div.portrait {
		width:$contentWidthPortrait;
		height:$contentWidthPortrait / 3 * 4;
		margin:auto;
		margin-bottom:80px;
		display:block;
		background-image:url('img/ui/bg-3x4.gif');
		background-size:100% 100%;
	}

	div.fullScreen {
		width:100vw;
		height:66.66vw;
		margin:auto;
		margin-bottom:80px;
		display:block;
		background-image:url('img/ui/bg-3x2.gif');
		background-size:100% 100%;
	}

	img {
		width:100%;
		height:100%;
		opacity:0;
		transition:opacity $fastTransition;
	}

}

#locationTitle {
	font-size:160px;
	color:$white;
	text-align:center;
}

#locationDate {
	position:absolute;
	top:10px;
	left:10px;
	font-size:15px;
	line-height:18px;
	color:$white;
	width:200px;
	height:40px;
	font-family:$monospace;
}

.captionParagraph {
	color:#bbb;
	font-family:$monospace;
	font-size:15px;
	line-height:18px;
	text-align:center;
	margin:auto;
	width:$contentWidthLandscape;
	margin-bottom:15px;
	margin-top:-25px;

	span {
		padding-bottom:2px;
		border-bottom:1px solid #bbb;
	}

}

.contentParagraph {
	color:$white;
	margin:auto;
	margin-bottom:60px;
	width:$contentWidthLandscape;
	font-family:$riviera;
	font-size:25px;
	line-height:35px;
	text-align:center;
}

#droppedDots {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	pointer-events:none;
}

.droppedDot {
	width:20px;
	height:20px;
	margin-left:-10px;
	margin-top:-10px;
	position:absolute;
}

/* Next and Previous Links */

a.navLink {
	display:block;
	height:120px;
	line-height:120px;
}

.navLinkWrapper {
	height:120px;
	width:auto;
	position:absolute;
	top:50%;
	margin-top:-65px;
	color:$white;
	font-family:$monospace;
	transition:all $fastTransition;
	padding:10px;

	img {
		height:120px;
		width:auto;
		display:inline-block;
	}

}

.navLinkWrapper.beforeWrapper {
	right:10px;
	transform:translate(calc(100% - 35px));
	padding-right:0;
}

.navLinkWrapper.afterWrapper {
	left:10px;
	transform:translate(calc(-100% + 35px));
	padding-left:0;
}

.navLinkWrapper:hover {
	transform:none;
}

img.beforeLabel,
img.afterLabel {
	width:20px;
	height:20px;
	display:inline-block;
	line-height:120px;
	vertical-align:top;
	margin-top:50px;
	transition:opacity $fastTransition;
}

img.beforeLabel {
	margin-right:5px;
}

img.afterLabel {
	margin-left:5px;
}

.navLinkWrapper:hover img.beforeLabel,
.navLinkWrapper:hover img.afterLabel {
	opacity:0;
}

span.beforeTitle,
span.afterTitle {
	font-size:160px;
	text-decoration:none;
	font-family:$druk;
	line-height:120px;
	height:120px;
	color:$white;
	margin-left:10px;
	margin-right:10px;
	display:inline-block;
}

/* Map */

#mapHolder {
	position:fixed;
	z-index:30;
	top:100px;
	left:100px;
	right:100px;
	bottom:100px;
	border:1px solid $black;
	box-sizing:border-box;
	transform:translateY(calc(100% + 100px));
	transition:transform $transitionSpeed;
}

#mapHolder.visible {
	transform:translateY(0);
}

#map {
	position:absolute !important;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

#closeMap {
	display:block;
	position:absolute;
	top:10px;
	right:10px;
	width:28px;
	height:28px;
	z-index:10;
	background:$white;
	border-radius:3px;
	box-shadow: 0px 1px 4px -1px rgba(0,0,0,.3);
}

.closeMapImage {
	width:10px;
	height:10px;
	margin-left:9px;
	margin-top:9px;
}

#map div div div:nth-child(2) a {
	display:none !important;
}

#map div {
	cursor:none !important;
}

.gm-style div:nth-child(4) .gm-style-cc {
	display:none;
}

.gmnoprint.gm-style-cc {
	display:none !important;
}

.gm-style-cc {
	display:none !important;
}

@import 'mobile';